<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="mining.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>DM Capstone project - gunjitc2</title>
</head>
<body>
    <div id="container" ng-app="mining" ng-controller="myCtrl">
        <h1>Which cuisine to try?</h1>
        <br />
        <br />
        <p>This app lets you find similar or different cuisine(s) when compared to the cuisine that you enter in the search box below</p>
        <div id="inputContainer">
            <input type="text" id="query" ng-keyup="complete()" placeholder="Start typing a cuisine name" autocomplete="off" />
            <br />
            <br />
            <br />
            <br />
            <div>
                <input type="radio" name="compareType" value="same" checked="checked" />
                <label>As similar as possible</label>
                <input type="radio" name="compareType" value="different" />
                <label>As different as possible</label>
            </div>
            <br />
            <label>How similar or different do you want the cuisine to be?</label>
            <input type="range" min="0" max="5" value="5" id="scale" />
            <br />
            <br />
            <input type="button" class="ui-button" name="Find" value="Find me my food" ng-click="findfood()" />
        </div>
        <div id="responseContainer" ng-show="showCuisines.length > 0">
            <div class="success">Here are the cuisines you can try in the mentioned order based on your preferences</div>
            <br />
            <p ng-repeat="x in showCuisines track by $index"><strong>{{ x }}</strong></p>
        </div>
    </div>
    <script src="matrix.js"></script>
    <script src="ctrl.js"></script>
</body>
</html>